hyprland/.config/hypr/colors.conf
hyprland/.config/hypr/colors.lua
kitty/.config/kitty/current-theme.conf
kitty/.config/kitty/themes/Matugen.conf
neovim/.config/nvim/colors.json
rofi/.config/rofi/colors.rasi
spicetify/.config/spicetify/Themes/Default/color.ini
swaync/.config/swaync/colors.css
wallpapers/Pictures/Wallpapers/active_wallpaper
waybar/.config/waybar/colors.css
gtk/.config/Kvantum/matugen/matugen.kvconfig
gtk/.config/Kvantum/matugen/matugen.svg
gtk/.config/gtk-3.0/colors.css
gtk/.config/gtk-4.0/colors.css
btop/.config/btop/themes/matugen.theme
